{% extends "szablon.html"%}
{% block tytul%}Uczniowie – Lista{% endblock%}
{% block h1%} Klasy {% endblock%}
{% block tresc%}
<div class="row">
    {% for k in klasa %}
    <div class="col-md-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{k.nazwa_klasy}}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{k.rok_naboru}}</div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{k.rok_matury}}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <button type="button" class="btn btn-dark"><a href='/klasy_edytuj/{{k}}'>edytuj</a></button>
    </div>
{% endfor %}
</div>



{% endblock%}
