{% extends "szablon.html"%}
{% block tytul%}Uczniowie – Lista{% endblock%}
{% block h1%} Klasy {% endblock%}
{% block tresc%}


<div class="row">
    <div class="col-lg-6 mx-auto">
        <table class="table table-bordered">
            <thead>
                <th scope="col">id</th>
                <th scope="col">Klasa</th>
                <th scope="col">szczegóły</th>
                </tr>
            </thead>
            <tbody>
                {% for k in klasa %}
                <tr>
                    <th scope="row">{{k}}</th>
                    <td>{{k.nazwa_klasy}}</td>
                    <td><a href='klasy_szczegoly/{{k}}'>szczegóły &rarr;</a></td>

                    {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
</div>




{% endblock%}
