{% extends "szablon.html"%}
{% block tytul%}Uczniowie – Lista{% endblock%}
{% block h1%} Klasy {% endblock%}
{% block tresc %}
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <form method="POST">
    
                {{ form.csrf_token }}
                {{ form.nazwa_klasy.label }} <br>
                {{ form.nazwa_klasy(class="form-control") }} <br>
                {{ form.rok_naboru.label }} <br>
                {{ form.rok_naboru(class="form-control") }} <br>
                {{ form.rok_matury.label }} <br>
                {{ form.rok_matury(class="form-control") }} <br>
    
                <input type="submit" class="btn btn-default" value="Prześlij">
            </form>
    
        </div>
    </div>
{% endblock %}

