{% extends "szablon.html"%}
{% block tytul%}Klasy – Szczegóły{% endblock%}
{% block h1%} Szczegóły {% endblock%}
{% block tresc%}
<div class="row">
    {% for k in klasa %}
    <div class="col-md-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{k.nazwa_klasy}}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{k.rok_naboru}}</div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{k.rok_matury}}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <a href='/klasy_edytuj/{{k}}'>edytuj</a>
    </div>
    
    <div class="col-md-5">
        <a href='/usun_klase/{{k}}'>usuń</a>
    </div>
{% endfor %}
</div>



{% endblock%}
