{% extends "szablon.html"%}
{% block tytul%}Uczniowie – Lista{% endblock%}
{% block h1%} Uczniowie {% endblock%}
{% block tresc%}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">szczegóły</th>
                </tr>
            </thead>
            <tbody>
                {% for u in uczen %}
                <tr>
                    <th scope="row">{{u}}</a></th>
                    <td>{{u.imie_ucznia}}</td>
                    <td>{{u.nazwisko_ucznia}}</td>
                    <td><a href='uczniowie_szczegoly/{{u}}'>szczegóły &rarr;</a></td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock%}
