{% extends "szablon.html"%}
{% block tytul%}Uczniowie – Szczegóły{% endblock%}
{% block h1%} Szczegóły {% endblock%}
{% block tresc%}
<div class="row">
    {% for u in uczen %}
    <div class="col-md-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{u.imie_ucznia}}</div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{u.nazwisko_ucznia}}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{u.plec_ucznia.nazwa_plci}}</div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{u.klasa_ucznia.nazwa_klasy}}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <a href='/uczniowie_edytuj/{{u}}'>edytuj</a>
    </div>
    <div class="col-md-5">
        <a href='/usun/{{u}}'>usuń</a>
    </div>
{% endfor %}
</div>



{% endblock%}
