{% extends "szablon.html"%}
{% block tytul%}Uczniowie – Lista{% endblock%}
{% block h1%} Klasy {% endblock%}
{% block tresc%}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Płeć</th>
                    <th scope="col">Klasa</th>
                </tr>
            </thead>
            <tbody>
                {% for u in uczen %}
                <tr>
                    <th scope="row">{{u}}</a></th>
                    <td>{{u.imie_ucznia}}</td>
                    <td>{{u.nazwisko_ucznia}}</td>
                    <td>{{u.plec_ucznia.nazwa_plci}}</td>
                    <td>{{u.klasa_ucznia.nazwa_klasy}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
</div>

{% endblock%}
